.primary-button {
  border-radius: 5%;
}

#canvas {
  cursor: url('../images/cursor.png'), auto;

  /* You may need coordinates to adjust the pointer
     for example, the custom cursor is circular and you want
     the middle to be where you click */
  cursor: url('../images/cursor.png') 15 15, auto;
}